@font-face {
  font-family: 'MacanLight';
  src: url('/src/assets/fonts/macan-light.ttf');
}

@font-face {
  font-family: 'MacanBold';
  src: url('/src/assets/fonts/macan-bold.ttf');
}

@font-face {
  font-family: 'DomaineDisplay';
  src: url('/src/assets/fonts/domaine-display-web-bold.woff2');
}

@font-face {
  font-family: 'Macan';
  src: url('/src/assets/fonts/macan-regular.3d263b5.woff2');
}
