.user-main-container {
  display: grid;
  grid-template-columns: minmax(24px, 1fr) minmax(auto, 1240px) minmax(
      24px,
      1fr
    );
  .user-main-wrapper {
    grid-column: 2;
    font-family: Macan;
  }
}
