.categories-list {
    height: 600px;
    background-color: rgb(255, 255, 255);

    display: grid;
    grid-template-columns: minmax(44px,1fr) minmax(auto,1400px) minmax(44px,1fr);

    max-width: 100%;

    & > div {
        // margin-top: 10vh;
        
        .categories-list-header {
            font-size: 32px;
            font-family: MacanBold;
            color: #404145;
        }
        margin-top: 100px;
        grid-column: 2;

    }



    .card-vuper {
        border-radius: 4px;
        cursor: pointer;
        // text-align: center;

        h4 {
            font-weight: 100;
            margin-left: 7%;
            margin-top: 8%;
        }
        h1 {
            margin-left: 7%;
            margin-top: 7px;
            font-size: 1.5rem;
        }
    }

    .vueperslides__arrow--next {
        color: black;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 50%;
        transform: translate(40px,-30px);
        box-shadow: 8px 0px 23px 5px rgba(0,0,0,0.1);

        svg {
            height: 60px;
        }
    }

    .vueperslides__arrow--prev {
        color: black;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 50%;
        transform: translate(-40px,-30px);
        box-shadow: -8px 0px 23px 5px rgba(0,0,0,0.1);
        svg {
            height: 60px;
        }
    }


    .icon-arrow-right {
        border-color: white;
    }

    .icon-arrow-left {
        border-color: white;
    }

    .vueperslide__title {
            // font-family: Arial,Helvetica,sans-serif;
            color: white;
            margin-bottom: 250px;
        }
        
        .categorie-card-text {
            // font-family: Arial,Helvetica,sans-serif;
            color: white;
            font-weight: 600;
            margin-top: 10px;
        
            h1 {
                font-family: MacanBold;
            }
    }
}

@media (max-width: 670px){
    .categories-list {
        // grid-template-columns: minmax(64px,1fr) minmax(auto,1400px) minmax(64px,1fr);
    }
}

