.details-about-seller {
  h3 {
    padding-block-end: 1.5rem;
    font-size: 1.3em;
    line-height: 2.5em;
    color: $logo;
    font-family: MacanBold;
  }
  .seller-info {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .seller-profile-data {
      display: flex;
      flex-direction: column;
      margin-inline-start: 1em;
      color: $logo;
      line-height: 1.5em;
      .seller-name {
        display: block;
        font-weight: bold;
        font-size: 0.9em;
        font-family: MacanBold;
      }
      .seller-level {
        color: $txt1;
        font-size: 12px;
        font-family: Macan;
      }
    }
    .stars {
      display: flex;
      align-items: center;
      line-height: 2.5em;
      .star {
        color: $stars;
        user-select: none;
        width: 1em;
        height: 1em;
        display: inline-block;
        fill: currentcolor;
        flex-shrink: 0;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        font-size: 1.5rem;
      }
    }
    .seller-table {
      margin-block-start: 1.67em;
      margin-block-end: 1.67em;
      max-width: 710px;
      width: 100%;
      border-radius: 5px;
      padding: 1.5rem;
      border: 1px solid $border;
      .table-info {
        display: grid;
        width: 100%;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        border-bottom: 1px solid $border;
        h4 {
          color: $txt2;
          line-height: 1.7em;
          font-family: Macan;
        }
        .value {
          line-height: 1.7em;
          font-weight: 700;
          font-family: MacanBold;
          color: $txt1;
          margin-block-end: 1em;
        }
      }
      .table-description {
        padding-top: 1rem;
        font-family: Macan;
        color: $txt1;
        white-space: pre-wrap;
        line-height: 1.5em;
        margin-block-end: 4rem;
        margin-block-start: 1em;
      }
    }
  }
  img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    line-height: 2.5em;
    object-fit: cover;
    margin-inline-end: 0.5em;
    cursor: pointer;
  }
}
