.gig-details-seller-reviews {
  display: flex;
  align-items: center;
  margin-block-start: 2em;
  h2 {
    margin-inline-end: 2em;
    color: $logo;
    font-family: MacanBold;
    font-size: 1.3em;
  }
}

.gig-details-owner-info {
  display: flex;
  align-items: center;
  margin-block-start: 0.8em;
  margin-block-end: 1em;
  border-bottom: 1px solid #efeff0;
  img {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    object-fit: cover;
    margin-inline-end: 0.5em;
  }
}
