.details-reviews-pack {
  margin-right: 10px;
  margin-block-end: 1em;
  margin-block-start: 1em;
  // padding-inline-end: 2em;
  line-height: 1.5em;
  background-color: white;
  header {
    padding-block-end: 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    h3 {
      display: flex;
      align-items: center;
      font-size: 1.3em;
      line-height: 2.5em;
      color: $logo;
      font-family: MacanBold;
    }
    .stars {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-inline-end: 2em;
      .star {
        color: $stars;
        user-select: none;
        width: 1em;
        height: 1em;
        display: inline-block;
        flex-shrink: 0;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        font-size: 1.5rem;
      }
    }
  }
  .reviews-container {
    // padding-block-end: 1.5rem;
    & > div {
      display: flex;
      flex-direction: row;
    }
  }
  .review-container {
    border-top: 1px solid rgb(231, 231, 231);
    max-width: 90vw;
    padding: 1rem;
    // padding-inline-start: 5px;
    padding-inline-end: 2em;
    margin-block-start: 1.5rem;
    position: relative;
    & > img {
      border-radius: 50%;
      height: 32px;
      width: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      object-fit: cover;
    }
    .reviewer-info {
      display: flex;
      align-items: center;
      gap: 0.1875rem;
      margin-inline-start: 0.5rem;
      span {
        font-family: MacanBold;
        color: $logo;
        font-size: 1rem;
        letter-spacing: -0.5px;
        margin-inline-start: 2.5rem;
      }
    }
    .reviewer-location {
      display: inline-flex;
      align-items: center;
      gap: 0.1875rem;
      margin-inline-start: 0.5rem;

      .country-flag {
        width: 20px;
        height: 20px;
        margin-inline-start: 2.5rem;
        margin-block-start: 0;
      }
      .country-name {
        color: $txt2;
        font-size: 14px;
        margin-inline-start: 0.5rem;
      }
    }
    .review-txt {
      font-family: MacanLight;
      color: $txt1;
      font-size: 1rem;
      letter-spacing: -0.5px;
      margin-inline-start: 2.8rem;
    }
    .review-at {
      font-family: MacanLight;
      color: $txt2;
      font-size: 1rem;
      letter-spacing: -0.5px;
      margin-inline-start: 2.8rem;
      margin-block-start: 0.7rem;
    }
  }
  .reviews-bar {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    .rater {
      margin-inline-end: 0.5em;
    }
    .bar {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      height: 30px;
      justify-content: flex-start;
      min-width: 100%;
      .star-filter {
        align-items: center;
        display: flex;
        min-width: 100px;
        color: $rate-txt;
        font-family: MacanBold;
      }
      .star-number {
        font-family: MacanLight;
        // margin-inline-start: 10px;
      }
    }
    .progress-bar {
      border-radius: 30px;
      height: 8px;
      position: relative;
      width: 100%;
      white-space: nowrap;
      // flex-grow: 1;
      .back {
        background-color: $rate-bar;
        border-radius: 50px;
        height: 100%;
        position: absolute;
        width: 100%;
      }
      .front {
        border-radius: 50px;
        height: 100%;
        position: absolute;
        background-color: $stars;
      }
    }
  }
  .rate-breakdown {
    flex-basis: 50%;
    max-width: 50%;
    h3 {
      font-family: MacanBold;
      color: $logo;
      font-weight: bold;
      font-size: 1rem;
      margin-inline-start: 2.5em;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-block-start: 1em;
    }
    li {
      display: flex;
      justify-content: space-between;
      color: $txt2;
      padding-bottom: 8px;
      font-family: MacanLight;
      margin-inline-start: 0px;
      span,
      .rating-score {
        white-space: nowrap;
        margin-left: 10px;
        color: $stars;
      }
      .orca-rating {
        display: flex;
        color: $stars;
      }
      .star {
        color: $stars;
        font-size: 1.5rem;
        display: flex;
        align-items: baseline;
        display: inline-block;
      }
    }
  }
}

.el-rate {
  --el-rate-icon-size: 14px;
  span {
    display: flex;
    align-items: baseline;
    color: $stars;
    padding-inline-start: 0.3em;
  }
}
.el-rate__item {
  color: $stars;
  svg {
    user-select: none;
    display: inline-block;
    fill: currentcolor;
    font-size: 1.3rem;
  }
  .el-rate__text {
    user-select: none;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 1.1em;
  }
}
