// .join-container {
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     // background-color: rgba($color: #000000, $alpha: 0.2);
//     z-index: 200;

//     display: flex;
//     justify-content: center;
//     align-items: center;

//     .join-modal {
//         position: absolute;
//         background-color: white;
//         width: 510px;
//         height: 400px;
//         z-index: 210;
//     }
// }


.login-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .login-card {
        border-radius: 5px;
        margin-top: 20px;
        width: 400px;
        border: 1px solid rgb(211, 211, 211);
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .login-fields {
            display: flex;
            flex-direction: column;

            h3 {
                text-align: center;
                font-family: Macan;
                font-size: 2rem;
                margin-top: 10px;
            }

            label {
                margin-top: 30px;
            }
        }
        .login-btn {
            margin-top: 50px;
            width: 200px;
            height: 50px;
            border-radius: 5px;
            border: none;
            background-color: #31c27e;
            color: white;
            font-family: Macan;
            font-size: 1.3rem;
            font-weight: 600;
            &:hover {
                background-color: #1da164;
            }

        }
        a {
            color: $txt1;
            // position: absolute;
            margin-top: 100px;
        }
    }
}

.signup-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .signup-card {
        border-radius: 5px;
        margin-top: 20px;
        width: 400px;
        border: 1px solid rgb(211, 211, 211);
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .signup-fields {
            display: flex;
            flex-direction: column;

            h3 {
                text-align: center;
                font-family: Macan;
                font-size: 2rem;
                margin-top: 10px;
            }

            label {
                margin-top: 30px;
            }
        }
        .signup-btn {
            margin-top: 50px;
            width: 200px;
            height: 50px;
            border-radius: 5px;
            border: none;
            background-color: #31c27e;
            color: white;
            font-family: Macan;
            font-size: 1.3rem;
            font-weight: 600;
            &:hover {
                background-color: #1da164;
            }

        }
        a {
            color: $txt1;
            // position: absolute;
            margin-top: 20px;
        }
    }
}