.main-filter-container {
    grid-column: 2;
    margin-block-end: 1em;

    h1 {
        margin-block-start: 0.5em;
    }

    .filter-container {
        display: flex;
        margin-block-start: 2em;
        margin-block-end: 1em;

        .el-select {
            margin-inline-end: 2em;
        }

        .el-input__wrapper {
            transition: 0s;
        }

        .el-select .el-input.is-focus .el-input__wrapper {
            box-shadow: none !important;
            outline: 1px solid #dcdfe6 !important;
        }

        .el-select .el-input__wrapper.is-focus {
            box-shadow: none !important;
            outline: 1px solid #dcdfe6 !important;
        }
    }

    .filter-nav {
        display: flex;
        align-items: center;
        margin-block-start: 1.9em;
        font-weight: 600;

        a {
            color: #62646a;
            font-size: smaller;
            text-decoration: none;
            margin-inline-end: 0.5em;
        }

        div {
            align-items: center;
            color: #62646a;
            display: flex;
            margin-inline-end: 0.5em;
        }
    }

    .filter-results {
        h1 {
            font-family: MacanBold;
            font-size: xx-large;
            color: $logo;
        }

        p {
            margin-block-start: 0.5em;
            font-weight: 600;
            color: #95979d;
        }
    }

}

.main-filter-container.scrolled {
    margin-top: 88px;
}

.filter-min-max {
    padding: 1em;

    .filter-min-max-container {
        display: flex;
        max-height: 250px;
        max-width: 300px;
        font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;

        label {
            color: #95979d;
            font-weight: 700;
            font-size: 12px;
        }

        input {
            // background-color: #e8f0fe;
            border-radius: 5px;
            margin-block-end: 1em;
            margin-inline-end: 1em;
            height: 35px;
            min-width: 110px;
            max-width: 100px;
            border: 0.5px solid gray;
            padding: 1em;
        }

    }
}

.min-max-apply {
    background-color: #1dbf73;
    color: #ffffe9;
}

.min-max-apply:hover {
    background-color: #1aa966;
    color: #ffffe9;
}

.filter-min-max-btns {
    display: flex;
    justify-content: space-between;
}

.filter-close-btn {
    border: none;
    background-color: white;
    font-family: MacanLight;
    font-size: 1rem;
    color: rgb(167, 167, 167);
    font-weight: 600;
    // border-bottom: 1px solid $txt1;
}

.filter-min-container {
    display: flex;
    flex-direction: column;
}

.filter-max-container {
    display: flex;
    flex-direction: column;

    label {}

    input {
        margin: 0 !important;
    }
}

.el-input__inner {
    border: none;
    box-shadow: none;
    color: #222325 !important;

    &::placeholder {
        color: #222325 !important;
    }
}

.el-select:hover {
    border: none;
    box-shadow: none;
}

.sort-price {
    // margin-block-start: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        margin-inline-start: 0.5em;

        color: #74767e;
        font-family: Macan;
        font-weight: 700;
        font-size: 14px;

    }

    .sort-price-select {
        font-size: 16px;
        line-height: 120%;
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        p {
            // margin-inline-end: 1em;
            color: #74767e;
        }



        .el-select--inner {
            width: 30px;
        }

        .el-input__wrapper {
            box-shadow: none;
            border: none;
            max-width: 165px;
        }



        .el-select .el-input.is-focus .el-input__wrapper {
            box-shadow: none !important;
        }

        .el-select .el-input__wrapper.is-focus {
            box-shadow: none !important;
        }

        .el-select:hover:not(.el-select--disabled) .el-input__wrapper {
            box-shadow: none;
        }
    }
}

.by-tags option {
    cursor: pointer;
}

.by-tags svg {
    height: 10px;
}

.el-input__inner {
    font-weight: 700;

}

.filter-delivery {

    select {
        height: 38px;
    }

    .el-input {
        height: 38px;
        max-width: 171px;
    }
}

.filter-budget {
    .el-input {
        height: 38px;
        max-width: 171px;
    }

}

.filter-and-sort-selects.scrolled {

    .inner-filters {
        display: grid;
        grid-template-columns: minmax(24px, 1fr) minmax(auto, 1400px) minmax(24px, 1fr);
        grid-column: 2;
        position: fixed;
        background-color: white;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        box-shadow: 0px 9px 11px -2px rgba(0, 0, 0, 0.2);


        &>div {
            grid-column: 2;
            margin-block-start: 1em;
            margin-block-end: 1em;
        }
    }
}

.el-scrollbar__view {
    font-family: Macan;
    font-weight: 600;


    li {
        color: $txt2;
    }
}

@media (max-width: 600px) {
    .sort-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 20px;

        span {
            margin-inline-start: 0.5em;

            color: #74767e;
            font-family: Macan;
            font-weight: 700;
            font-size: 10px;

        }

        .sort-price-select {
            font-size: 10px;
            line-height: 120%;
            display: flex;
            align-items: center;
            margin-bottom: 0px;

            p {
                // margin-inline-end: 1em;
                color: #74767e;
            }

            .el-input__suffix {
                .el-input__suffix-inner {
                    .el-icon {
                        font-size: 10px;
                    }
                }
            }

            .el-select--inner {
                width: 30px;
            }

            .el-input__wrapper {
                font-size: 10px;
                box-shadow: none;
                border: none;
                max-width: 115px;
            }



            .el-select .el-input.is-focus .el-input__wrapper {
                box-shadow: none !important;
            }

            .el-select .el-input__wrapper.is-focus {
                box-shadow: none !important;
            }

            .el-select:hover:not(.el-select--disabled) .el-input__wrapper {
                box-shadow: none;
            }
        }
    }
}