.dropdown {
    position: fixed;
    top: 0;
    left: -273px;
    height: 100%;
    width: 272px;
    
    background-color: white;
    z-index: 30;

    border-right: 1px solid #e8e8e8;
    
    transition: 0.5s;
    
}

.dropdown.menuOn {
    left: 0;

}

.dropdown-btn {

    display: block;
    cursor: pointer;
    transition: 0.5s;

    background-color: transparent;
    border: none;
    fill: black;

    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0,5px);
}

.outside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.4);
    z-index: 20;
}

.dropdown-join-btn {
    background-color: $green;
    border: none;
    color: white;
    width: 132px;
    height: 42px;
    border-radius: 4px;
    font-size: 1rem;
    font-family: MacanLight;
    font-weight: 600;
    margin: 20px;

    &:hover {
        background-color: $btn-hover;
    }
}

.menu-dropdown-btns {
    button {
        border: none;
        background-color: transparent;
        width: 232px;
        height: 24px;

        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 20px;

        font-size: 1rem;
        text-align: left;
        font-family: Macan;
        font-weight: 400;
        color: $txt2;

        &:hover {
            color: $txt1;
        }
        
    }
}

@media (min-width: 1160px){
    .dropdown-btn {
        display: none !important;
        background-color: #000000;
    }
}